<div class="uk-container uk-position-center">
    <h1 class="uk-button-text">Login</h1>
    <br>
    <form>
        <div class="uk-margin">
            <div class="uk-inline uk-form-control">
                <input class="uk-input uk-form-success" type="text" name="username" [(ngModel)]="user.username" placeholder="Email">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-form-control">
                <input class="uk-input uk-form-success" type="text" name="password" [(ngModel)]="user.password" placeholder="Password">
            </div>
        </div>
        <button (click)="prosesLogin()" class="uk-button uk-button-default uk-button-secondary uk-width-1-1">Masuk</button>
    </form>
</div>
